In [2]:
"""
Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999
"""
def area_of_circle(radius):
    pi = 3.14159  # Approximate value of pi
    area = pi * radius * radius
    return area

radius = float(input("Enter the radius: "))

area = area_of_circle(radius)

print(f"Area of Circle is {area}")

Enter the radius: 3
Area of Circle is 28.274309999999996

In [3]:
"""
Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78
"""

def student_details():
    name = input("Enter the name: ")
    roll_number = input("Enter the roll number: ")
    mark = input("Enter the mark: ")

    print("\nStudent Details:")
    print(f"Name: {name}")
    print(f"Roll No: {roll_number}")
    print(f"Mark: {mark}")

student_details()

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78

Student Details:
Name: Anisha
Roll No: 21
Mark: 78

In [5]:
"""
Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.
"""

def largest_number(numbers):
    largest_number = max(numbers)
    return largest_number

user_input = input("Enter numbers separated by commas: ")

numbers = list(map(int, user_input.split(',')))

largest_number = largest_number(numbers)

print(f"{largest_number} is the largest number.")

Enter numbers separated by commas: 21,34,54,12
54 is the largest number.

In [7]:
"""
Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19
"""

def sum_of_current_and_previous(start, end):
    previous_number = 0
    for current_number in range(start, end + 1):
        sum_numbers = current_number + previous_number
        print(f"Current Number {current_number} Previous Number {previous_number} Sum: {sum_numbers}")
        previous_number = current_number

start_number = int(input("Enter the start number: "))
end_number = int(input("Enter the end number: "))

sum_of_current_and_previous(start_number, end_number)

Enter the start number: 2
Enter the end number: 6
Current Number 2 Previous Number 0 Sum: 2
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11

In [10]:
"""
. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55
"""
def print_divisible_by_5(numbers):
    divisible_by_5 = [num for num in numbers if num % 5 == 0]
    print("Numbers divisible by 5: ", ', '.join(map(str, divisible_by_5)))

input_numbers = input("Enter the numbers separated by commas: ")

numbers_list = list(map(int, input_numbers.split(',')))

print_divisible_by_5(numbers_list)

Enter the numbers separated by commas: 10,89
Numbers divisible by 5:  10

In [11]:
"""
Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number
"""

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

number = int(input("Enter the number: "))

if is_prime(number):
    print(f"{number} is a prime number")
else:
    print(f"{number} is not a prime number")

Enter the number: 3
3 is a prime number

In [12]:
"""
Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10
"""

def reverse_list(lst):
    reversed_list = []
    for i in range(len(lst) - 1, -1, -1):
        reversed_list.append(lst[i])
    return reversed_list

# Get the list from the user
lst = input("Enter the list of numbers separated by commas: ").split(',')
lst = [int(num) for num in lst]

# Reverse the list using the reverse_list function
reversed_lst = reverse_list(lst)

# Print the reversed list
print("Reversed list:", ','.join(map(str, reversed_lst)))

Enter the list of numbers separated by commas: 21,43,61,12
Reversed list: 12,61,43,21

In [13]:
"""
Write a Python program to print the following pattern.
*
**
***
****
"""

def print_pattern(n):
    for i in range(1, n + 1):
        print('*' * i)

# Get user input for the number of rows
rows = int(input("Enter the number of rows: "))

# Print the pattern
print_pattern(rows)

Enter the number of rows: 5
*
**
***
****
*****

In [15]:
"""
Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34
"""

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

max_number = max(num1, num2, num3)

print("The maximum of the three numbers is:", max_number)

Enter the first number: 21
Enter the second number: 34
Enter the third number: 61
The maximum of the three numbers is: 61

In [16]:
"""
Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*
"""

def print_pattern(rows):
    for i in range(1, rows + 1):
        print('*' * i)
    for i in range(rows - 1, 0, -1):
        print('*' * i)

rows = int(input("Enter the number of rows: "))

print_pattern(rows)

Enter the number of rows: 5
*
**
***
****
*****
****
***
**
*